<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<head>
    <title>PBP</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="container">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <h3 class="form-signin-heading" th:text="Welcome"></h3>
                <br/>

                <input type="text" id="username" name="username" placeholder="User Name"
                       class="form-control"/> <br/>
                <input type="password" th:placeholder="Password"
                       id="password" name="password" class="form-control"/> <br/>

                <button class="btn btn-lg btn-primary btn-blrock" name="Submit" value="Login" type="Submit" th:text="Login"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
